:root {

    --form-custom-style : {
        border-radius: 0px;
        border: 1px solid black;
    }
    --form-custom-style-focus: {
        border-color: black;
        box-shadow: none;
    }
  }
  